body{
margin-left:20px;
font-family: sans-serif;
}

h3{
font-size: xx-large;
color:black;
}

input[type=text]{
margin-top:20px;
border: 2px, solid, black;
height:40px;
width: 700px;
padding-left:15px;
border-radius:10px;
}

#comment{
  height:100px;
}

input[type=submit]{
font-weight:100;
color: white;
border: none;
text-align: left;
margin-top:20px;
height:50px;
width: 220px;
padding-left:15px;
background-color: #767E5F;
border-radius:10px;
}
